
/* below classes using percentages which tailwind doesn't have so left here. */ */
main {
    height: calc(100% - 20px); /*simplest way to require height*/
 }

#searchBrew {
    flex: 0 0 40%; /* % of the parent container's height */
}

/* Box shadow's offsets are not straightforward in tailwind, including css here/not html*/
.boxShadowR {
    box-shadow: 5px 5px 4px 4px #ab8403;
}

.boxShadowL {
    box-shadow: 5px 5px 4px 4px #e7b718
}