
/* apparently, styles in html tag is not stardard practice, so added body class in html
and html class here */
h3 {
    font-size: 24px !important;
    font-style: italic;
    /* font-weight: bold !important; */
    margin-bottom: 10px !important;
    color:#ebbe27;
}

html {
    height: 90%; /* Ensure the HTML and body take the full viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Previous class substituted by tailwind classes. If h-20 used doesn't work
could use an inline style "height: 80px" if need exactly that as tailwind doesn't
have a utility class for pixel height.
     .headerBox {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    /* Adjust the height of the header as needed 
    height: 80px; /* Example height 
} 
*/

/* this can't be done easily in tailwind, so added flex class in main html and height here. 
I think we could use h-screen but I tried and it needs adjusting (padding and margin?) */
main {
    height: calc(100% - 20px); /* Subtract the height of the header from the viewport height */
}

/* these two classes are replaced with tailwind utilities in html. I think you are able
to change the flex: 20%, etc inline styles in html with tailwind utilities by using flex-grow
but needs more testing to do so could use custom utility, but unsure how*/
/* #leftContainer, #rightContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
} */

/* .borderBox {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
} */

#searchBrew {
    flex: 0 0 40%; /* % of the parent container's height */
}

/* using flex-1 in thes ids */
/* #resultBrew {
    flex: 1; /* Takes the remaining space 
}

#poemBrew, #satBrew {
    flex: 1; /* Each takes 50% of the parent container's height 
} */
